.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

section {
  padding: 0.5em;
}

button {
  border: none;
  background: #1ac0c6;
  color: #fff;
  cursor: pointer;
  padding: 0.5em;
  margin: 0.1em;
  box-shadow: none;
}

input {
  padding: 0.25em;
}

main {
  padding-top: 3em;
  padding-bottom: 1em;
}

a {
  color: #1ac0c6;
}
